apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-fluentbit-config
  labels:
    app: {{ .Release.Name }}-fluentbit
data:
  fluent-bit.conf: |
    [SERVICE]
        Flush         1
        Log_Level     info
        Parsers_File  parsers.conf

    [INPUT]
        Name              tail
        Path              /var/log/containers/*.log
        Parser            docker
        Tag               kube.*
        Refresh_Interval  5
        DB                /var/log/flb_kube.db
        Mem_Buf_Limit     5MB

    [OUTPUT]
        Name  es
        Match *
        Host  {{ .Release.Name }}-{{ .Values.elasticstack.elasticsearch.serviceName }}
        Port  9200
        Index microservices-logs
  parsers.conf: |
    [PARSER]
        Name        docker
        Format      json
        Time_Key    time
        Time_Format %Y-%m-%dT%H:%M:%S
