{{- if .Values.monitoring.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.monitoring.name }}
  labels:
    app: {{ .Values.monitoring.name }}
    component: monitoring
    chart: {{ include "chart.name" . }}
    version: {{ include "chart.version" . }}
    release: {{ .Release.Name }}
spec:
  replicas: {{ .Values.monitoring.replicas }}
  selector:
    matchLabels:
      app: {{ .Values.monitoring.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.monitoring.name }}
        component: monitoring
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/monitoring-configmap.yaml") . | sha256sum }}
    spec:
      serviceAccountName: {{ include "serviceAccount.name" . }}
      containers:
      - name: {{ .Values.monitoring.name }}
        image: "{{ .Values.global.imageRegistry }}{{ .Values.monitoring.image.repository }}:{{ .Values.monitoring.image.tag }}"
        imagePullPolicy: {{ .Values.monitoring.image.pullPolicy }}
        ports:
        - name: http
          containerPort: 9090
          protocol: TCP
        args:
        - '--config.file=/etc/prometheus/prometheus.yml'
        - '--storage.tsdb.path=/prometheus'
        - '--web.console.libraries=/etc/prometheus/console_libraries'
        - '--web.console.templates=/etc/prometheus/consoles'
        - '--storage.tsdb.retention.time=200h'
        - '--web.enable-lifecycle'
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        resources:
          {{- toYaml .Values.monitoring.resources | nindent 12 }}
        livenessProbe:
          httpGet:
            path: /-/healthy
            port: http
          initialDelaySeconds: 30
          periodSeconds: 15
        readinessProbe:
          httpGet:
            path: /-/ready
            port: http
          initialDelaySeconds: 5
          periodSeconds: 5
        volumeMounts:
        - name: config
          mountPath: /etc/prometheus
        - name: storage
          mountPath: /prometheus
      volumes:
      - name: config
        configMap:
          name: {{ .Values.monitoring.name }}-config
      - name: storage
        emptyDir: {}
      {{- with .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
